* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(199, 199, 199);
    min-height: 100vh;
    width: 100%;
}

/* ---------------------------------------------------------------- -
---------------------------------- Header -------------------------
-------------------------------------------------------------------*/ 
header {
    position: fixed;
    display: flex;
    z-index: 100;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.403);
    filter: drop-shadow(0px 8px 4px rgba(0,0,0,1));
    transition: all 0.8s ease-in-out;
}

header.nav-scroll {
    background-color: black;
    filter: drop-shadow(0px 8px 4px rgb(23, 23, 23));
    transition: all 0.8s ease-in-out;
}

.logo {
    justify-content: left;
    width: 130px;
    height: 110px;
    border-radius: 5px;
    object-fit: cover;
    transition: all 1.5s ease-in-out;
}
.logo-scroll {
    border: 2px solid white;
    box-shadow: 2px 2px 2px white;
    transition: all 1.5s ease-in-out;
}

h1 {
    font-size: clamp(14px, 4vw, 90px);
    color: white;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
}
/* ---------------------------------------------------------------- -
---------------------------------- Navbar -------------------------
-------------------------------------------------------------------*/
.nav-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    font-size: 17px;  
}
.nav-links a {  
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: white;  
}
.nav-links a:hover {
    color: rgb(192, 56, 7);
    text-decoration: underline;
    font-weight: bold;
    text-shadow: none;
}
hr {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
    height: 2px;
    margin-bottom: 10px;
}

/*--------------------------------------------------------------- Menu hamburgesa -------------------------------
-------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/
.check-menu {
    display: none;
}
.label-check {
    display: none;
}
/*--------------------------------------------------------------------
--------------------------------------Main--------------------------- 
--------------------------------------------------------------------*/
h2 {
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: clamp(20px, 3vw, 35px);
}

h2 a {
    text-decoration: none;
    color: black;
}

h3 {
    color: black;
    text-shadow: 1px 1px 1px rgb(59, 59, 59);
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: clamp(18px, 2vw, 35px);
}

h4 {
    text-align: center;
    padding: 10px;
    font-size: clamp(18px, 2vw, 20px);
    font-weight: bold;
}
.text-top.show {
    text-shadow: 2px 2px 2px rgb(94, 94, 94);
    transition: all 0.9s ease-in-out;
    transform: scale(1.2);
}
.contenido {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
}
.hero {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: rgb(192, 56, 7);
    text-shadow: 2px 2px 3px black;
    background: url(./../assets/images/inicio.jpg) top/cover no-repeat;  
    mask-image: linear-gradient(rgb(144, 144, 144) 90%, transparent);
    filter: drop-shadow(0px 8px 4px rgb(141, 141, 141));
    
}
.info {
    display: flex;
    flex-direction: column;
    margin: 190px 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.679);
    border-radius: 10px;
    font-size: clamp(15px, 2vw, 20px)
}

/* -------------------------------------------------------------------------- INICIO ----------------------------------------------------- */
.containerI {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 20px auto;
    justify-content: center;
    align-items:baseline;
}

.direccion {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(20px, 2vw, 20px);
}
.google-maps {
    width: 95%;  
}
.containerS {
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.containerS ul {
    list-style: disc;
    line-height: 50px;
    

}

/* -------------------------------------------------------------
----------------------- Formulario ------------------------
----------------------------------------------------------------*/

.formulario {
    max-width: 80%;
    margin: 0 auto;
    padding: 30px;
    border: 5px double black;
    border-radius: 5px;
    line-height: 50px; 
    font-size: clamp(14px, 2vw, 17px); 
    background-color: rgba(249, 249, 249, 0.894); 
}

.formulario fieldset {
    max-width: 95%;
    border: 2px solid rgb(103, 103, 103);
    padding: 10px 10px; 
    margin: 30px auto;    
}
.formulario legend {
    position: relative;
    font-weight: bold;
    color: rgb(54, 54, 54);
    font-size: clamp(17px, 3vw, 20px);
    margin: 0 20px;
    padding: 0 10px;
    line-height: 15px;
}
.datos {
    width: 100%;
    margin: 10px;
    font-weight: bold; 
}
.datos label {
    display: inline-block;
    width: 20%;
    margin-left: 5px;
}
.datos input {
    padding: 10px;
    width: 70%; 
    font-size: clamp(14px, 2vw, 17px); 
    border: 1px solid rgb(205, 203, 203);
    border-radius: 5px;
}
.nota {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey; 
    font-style: italic;
}

.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 5px;
    font-size: 15px;
}
.aceptar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(14px, 2vw, 17px); 
}

.error, 
.noSelected {
    color: red;
    font-size: clamp(10px, 2vw, 15px);
    display: flex;
    justify-content: center;
    align-items: center; 
}
input.invalido, select.invalido {
    border: 3px solid red;  
}
.mensaje {
    color: green;
    font-size: clamp(10px, 2vw, 15px);
    display: flex;
    justify-content: center;
    text-align: center;
}
.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    margin: 20px auto 0 auto;
    gap: 50px;   
}
.botones button {
    font-size: clamp(15px, 2vw, 17px);
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;
    background-color: rgb(135, 135, 135);
    cursor: pointer;
}
.botones button:hover {
    background-color: rgb(192, 56, 7);
    color: white;
    border: 1px solid black;
}

/* ------------------------------------------------------- NOTICIAS ------------------------------------------- */
.noticias {
    width: 85%;
    height: auto;
    margin: 20px auto;
    background-color: white;
    border: 2px solid rgb(31, 31, 31);
}

/*----------------------------------------------------- SLIDER ---------------------------*/

#slides {
    display: none;
    margin: 0 auto;
    padding: 15px;
    font-family: arial;
    border-radius: 5px 5px 5px 5px;
    border: 3px solid #000000;   
    background-color:white;
  }

  #slides .slidesjs-navigation {
    margin-top:5px;
  }

  a.slidesjs-next,
  a.slidesjs-previous,
  a.slidesjs-play,
  a.slidesjs-stop {
    background-image: url(./../assets/images/btns-next-prev.png);
    background-repeat: no-repeat;
    display:block;
    width:12px;
    height:18px;
    overflow: hidden;
    text-indent: -9999px;
    float: left;
    margin-right:5px;
  }

  a.slidesjs-next {
    margin-right:10px;
    background-position: -12px 0;
  }

  a:hover.slidesjs-next {
    background-position: -12px -18px;
  }

  a.slidesjs-previous {
    background-position: 0 0;
  }

  a:hover.slidesjs-previous {
    background-position: 0 -18px;
  }

  a.slidesjs-play {
    width:15px;
    background-position: -25px 0;
  }

  a:hover.slidesjs-play {
    background-position: -25px -18px;
  }

  a.slidesjs-stop {
    width:18px;
    background-position: -41px 0;
  }

  a:hover.slidesjs-stop {
    background-position: -41px -18px;
  }

  .slidesjs-pagination {
    margin: 7px 0 0;
    float: right;
    list-style: none;
  }

  .slidesjs-pagination li {
    float: left;
    margin: 0 1px;
  }

  .slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(./../assets/images/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
  }

  .slidesjs-pagination li a.active,
  .slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
  }

  .slidesjs-pagination li a:hover {
    background-position: 0 -26px
  }

  #slides a:link,
  #slides a:visited {
    color: #333
  }

  #slides a:hover,
  #slides a:active {
    color: #9e2020
  }

  .navbar {
    overflow: hidden
  }


/*------------------------------- Botón WhatsApp ---------------------------------- */

.whatsapp {
    position: fixed;
    bottom: 200px;
    right: 5px;
    z-index: 98;
}


/* ---------------------------------------------------------------------------Footer---------------------------------------------------------------------------------------*/
footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    min-width: 100%;
    align-items: center;
    background-image: linear-gradient(#c7c7c7, black);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px black ;
    text-align: center;
    font-size: clamp(13px, 2vw, 17px);
} 
footer a{
    color: white;
} 
.pp {
    margin: 10px auto;
    color: white;
    font-weight: normal;
    font-size: clamp(8px, 2vw, 13px);
    transition: all .5s ease-in-out;
}
.pp a:hover {
    color:  rgb(192, 56, 7);
    text-decoration: underline;
}
.redes {
    line-height: 20px;   
}
.redes img {
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 2px black;
}
.telefono-email {
    display: flex;
    gap: 10px;
}
.derechos {
    font-weight: normal;
    font-size: clamp(10px, 1vw, 12px);
}

/*----------------- Pagina CONTACTO --------------------------------------------*/

.container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}
.horario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 15px;
    gap: 10px;
    color: black;
    text-align: center;
    line-height: 35px;
    font-size: clamp(20px, 2vw, 22px);
    background-image: linear-gradient(to right, white, rgb(199, 199, 199));
    box-shadow: 3px 2px 3px black;
}
.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    gap: 30px;
    line-height: 35px;
    color: black;
    text-align: center;
    background-image: linear-gradient(to right, white, rgb(199, 199, 199));
    font-size: clamp(20px, 2vw, 22px);
    box-shadow: 3px 2px 3px black;
}
.movil {
    padding: 10px;
    gap: 10px;
}
.correo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.correo a {
    color: black;
    font-size: clamp(20px, 2vw, 22px);
    cursor: pointer;
}

/*----------------------------------------------------- GOOGLE MAPS ------------------------------ */

#google {
    width: 95%;
    margin: 20px auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
}
#map {    
    height: 450px;
    margin: 0 auto;
    width: 80%;
}
.how-arrive {
    width: 150px;
    position: absolute;
    z-index: 4;
    top: 42%;
    left: 36%;
}
#google button {
    background-color: #fff;
    box-shadow: 2px 2px 3px black;
    border: black;
    cursor: pointer;  
    text-transform: uppercase;
    font-family:sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
  }
#google button:hover {
    background-color: #ddd;
  }
#google button:focus {
    outline: none;
  }
.marca {
    text-align: center;
    font-size: 17px;   
}
#panel {
    width: auto;
    max-width: 20%;
    height: 450px;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
}


/*---------------------------------------------------------- Pagina GALERIA ---------------------------------------------------------*/

.text-servicio {
    text-transform: uppercase;
    color: black;
    padding: 50px;
    transform: scaleX(0.2);
    opacity: 0;
    transition: all 1.5s ease-in-out;   
}
.text-servicio.show {
    transform: scaleX(1);
    opacity: 1;
    transition: all 1.5s ease-in-out;
    text-shadow: 2px 2px 2px white;
}
.galeria { 
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
}
.image {
    object-fit: cover;
    width: 600px;
    height: 380px;
    margin: 25px 35px;
    border: 6px solid white;
    transform: translateY(50px);
    transition: all 1.5s ease-in-out; 
    opacity: 0;    
}
.image.show {
    transform: translateY(0);
    transition: all 2s ease-in-out;  
    opacity: 1; 
}


/*---------------------------------------------------------- Pagina PRESUPUESTO ---------------------------------------------------------*/

.p-presupuesto {
   margin-bottom: 20px;
   padding: 20px;
   font-size: clamp(17px, 3vw, 20px);
   text-align: center;
}
.servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
}
.servicio select {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 5px; 
    font-size: clamp(14px, 2vw, 17px);  
}
.plazo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    gap: 10px; 
}
.plazo input {
    width: 40%;
    padding: 10px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 5px; 
    font-size: clamp(14px, 2vw, 17px);   
}
.extras {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin: 30px;
    font-size: clamp(14px, 2vw, 17px); 
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 30px;
    cursor: pointer; 
}
.presupuesto-total {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: clamp(16px, 2vw, 18px); 
    font-weight: bold;
    margin: 50px auto;    
}
.total {
    border: 1px solid rgb(174, 174, 174); 
    border-radius: 5px;    
    padding: 10px;
    text-align: center;
    font-weight: bold; 
    font-size: clamp(13px, 2vw, 16px); 
    color: black;
    background-color: white;
}
.iva {
    color: rgb(51, 51, 51); 
    font-style: italic; 
    font-weight: lighter;
    font-size: clamp(13px, 2vw, 17px); 
    padding: 0 20px;
}


/*--------------------------------------------
----------------- Responsive ------------------
----------------------------------------------*/

@media (max-width: 1024px) {

    .logo {
        width: 70px;
        height: 60px;
    }
    
    .label-check {
        display: block; 
        margin: 0 auto;
        justify-content: center;
        padding: 10px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 37%;
        margin-top: 60px;   
        border-radius: 10px;
        background-color: rgba(11, 11, 11, 0.741);
        text-shadow: none;
    }
    .nav-links a {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 3px;
    }
    .check-menu:checked + .nav-links {
        display: flex;
    }  
    .formulario {
        max-width: 95%;
    }
    .extras {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin: 30px;
        font-size: clamp(14px, 2vw, 17px); 
    } 
    .image {
        width: 400px;
        height: 280px; 
        margin: 25px 15px; 
    }  
}

 @media (max-width: 768px) {
    .extras {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 90%;
        margin: 20px auto;
        gap: 20px;
    }
    .botones {
        margin-bottom: 20px;
    }
    .container {
        width: 70%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 50px auto;
        justify-content: center;
        align-items: center;
    }
    .containerI {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px auto;
    }
    .presupuesto-total {
        display: flex;
        flex-direction: column;
        align-items:  start;
        font-size: clamp(16px, 2vw, 18px); 
        font-weight: bold;
        margin: 50px auto;    
    }
    .galeria { 
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        justify-content: center;
        align-items: center;
        background-color: black;
    }
    .image {
        width: 300px;
        height: 180px; 
        margin-left: 10px; 
    }  
    .info {
        display: flex;
        flex-direction: column;
        margin: 100px 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        line-height: 30px;
        background: rgba(0, 0, 0, 0.625);
        border-radius: 10px;
        font-size: clamp(15px, 2vw, 20px)
    }

}






