<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TipTop Tapicería Marbella</title>
    <link rel="icon" type="image/x-icon" href="./../favicon.ico">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
        </style>
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body> 
    <header>  
        <img class="logo" src="./../assets/images/icons/logotip.svg" alt="logo tiptop" width="200" height="200">

        <h1>TAPICERÍA AUTOMÓVIL</h1>

        <input type="checkbox" id="check-menu" class="check-menu">
        <ul class="nav-links">
            <li><a href="./../index.html" >INICIO</a></li>              
            <li><a href="./../views/galeria.html">GALERÍA</a></li>               
            <li><a href="./../views/presupuesto.html" >PRESUPUESTO</a></li>            
            <li><a href="./../views/contacto.html">CONTACTO</a></li> 
        </ul>            
        <label for="check-menu" class="label-check">
            <img src="./../assets/images/icons/menu.svg" alt="icono menu hamburgesa" width="50" height="50">
        </label>      
    </header>

    <main>
        <section class="hero">
            <div class="info">
            <h2>CONTACTO</h2>
            <p>¿TIENES ALGUNA DUDA O CONSULTA?</p>
            <p>Estamos a tu disposición para resolver cualquier duda</p>
            <p>que tengas sobre nuestros servicios.</p>
            </div>  
        </section>
            
        <section>

            <div class="parafo-contacto">
                <p>En Tip Top Tapicería Marbella, estamos comprometidos a ofrecerte el mejor servicio posible. </p>
                <p>Si buscas un tapicero de confianza, no dudes en ponerte en contacto con nosotros.</p>
                <p>Puedes llamarnos o enviarnos un correo electrónico o whatsapp.</p>
                <p>También puedes rellenar el formulario y nos pondremos en contacto contigo lo antes posible.</p>
                <p>Si lo prefieres, puedes visitarnos en nuestras instalaciones. </p    >
                <p>Estaremos encantados de atenderte personalmente.</p>
                <p>¡Esperamos verte pronto!</p>
            </div>
           
            <h2>¿En qué podemos ayudarle?</h2>
            <hr>
           
            <div class="formulario">           
                <form id="form" action="#" method="post" target="_blank">
                    <fieldset>
                        <legend>Datos personales</legend>
                        <div class="datos">
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" name="name" placeholder="Nombre completo">
                            <span>*</span>         
                        </div>
                        <span class="error" id="nombreError"></span> 
                        
                        <div class="datos">
                            <label for="apellido">Apellidos:</label>
                            <input type="text" id="apellido" name="apellido" placeholder="Apellidos completos">   
                            <span>*</span>
                        </div>
                        <span class="error" id="apellidoError"></span> 

                        <div class="datos">
                            <label for="telephone">Teléfono:</label>
                            <input type="text" id="telephone" name="telephone" placeholder="Telefono">
                            <span>*</span>
                        </div>
                        <span class="error" id="telefonoError"></span> 

                        <div class="datos">
                            <label for="email">E-mail:</label>
                            <input type="text" id="email" name="email" placeholder="Correo electronico">
                            <span>*</span> 
                        </div>
                        <span class="error" id="emailError"></span>
                        <span class="nota"> (*) Los campos marcados con asterisco son obligatorios.</span>       
                    </fieldset>
                    
                    <fieldset>
                        <legend>Mensaje</legend>
                        <textarea name="mensaje" id="message" rows="5" placeholder="Escribe tu mensaje"></textarea>
                    </fieldset>

                    <fieldset>
                        <legend>Aceptacíon de  condiciones</legend>
                        <div class="aceptar">
                        <label for="aceptar">He leído y acepto las condiciones </label>
                        <input type="checkbox" id="aceptar" class ="aceptar">
                        <span class="error" id="no-aceptado"></span>
                        </div>
                    </fieldset>

                    <div class="botones">
                        <button type="submit" id="submit">Enviar
                        </button>

                        <button type="reset" onclick="vaciarForm()">Borrar
                            </button>
                    </div>
                    <p id="mensaje-error" class="error"></p>
                    <p id="mensaje" class="mensaje"></p>
                </form>
            </div>
        </section>
        <section class="container1">
            <div class="horario">
                <h4>HORARIO DE ATENCIÓN</h4>
                <hr>
                <p>De Lunes a Viernes</p>
                <p>de 9:00 a 13:45 </p>
                <p>y <br><br> de 15:00 a 18:00</p><br>
                <p> Sábados y Domingo </p>
                <p>CERRADO</p>
            </div>
            <div class="direccion">
                <div>
                    <h4><img src="./../assets/images/galeria/nave.webp" alt="instalaciones" class="inst-foto" width="680" height="404"></h4>
                    <p>C. Diamante, 37</p> <p>Pol. Ind. "La Ermita"</p> 
                    <p>29603, Marbella, Málaga, España</p>
                </div>
                <div class="movil">         
                    <img src="./../assets/images/icons/whatsapp-white.svg" alt="whatsapp logo" width="20" height="20">
                    <span>(+34) 603 849 757</span>
                </div>
                <div class="correo">
                    <img src="./../assets/images/icons/email-white.svg" alt="email logo" width="25" height="25">
                    <a href="mailto:tiptoptapiceria@gmail.com">tiptoptapiceria@gmail.com</a>
                </div>
            </div>  
        </section>

        <section>
            <h2>Localización</h2>
            <h4>VISITA NUESTRAS INSTALACIONES</h4>
            <hr>
            <div id="google">
                <div id="how-arrive">
                    <button class="how-arrive">¿Cómo llegar?</button>  
                </div>   
                <div id="map"></div>
                <div id="panel"></div>
            </div>
        </section>  
        <div class="whatsapp">
            <a href="https://wa.me/34603849757" target="_blank"><img src="./../assets/images/icons/whatsapp-green.svg" alt="whatsapp" width="60" height="60"></a>
        </div>
    </main>

    <footer>
        <hr>
        <p>SÍGUENOS</p>
        <div class="redes">
            <a href="https://www.facebook.com/tapiceriaMD.Marbella/" target="_blank"><img src="./../assets/images/icons/facebook-logo.svg" alt="logo facebook" width="30" height="30"></a>
            <a href="https://www.instagram.com/tiptop_marbella/" target="_blank"><img src="./../assets/images/icons/instagram-logo.svg" alt="logo instagram" width="30" height="30"></a>
            <a href="https://g.co/kgs/Lr5aoFv" target="_blank"><img src="./../assets/images/icons/google-svgrepo.svg" alt="logo google" width="30" height="30"></a>
        </div>
        <p>C. Diamante, 37, 29603 Marbella (MALAGA)</p>
        <div class="telefono-email">        
            <img src="./../assets/images/icons/whatsapp-white.svg" alt="whatsapp logo" width="20" height="20">
            <span>(+34) 603 849 757</span>
            <img src="./../assets/images/icons/email-white.svg" alt="email logo" width="20" height="20">
            <span><a href="mailto:tiptoptapiceria@gmail.com">tiptoptapiceria@gmail.com</a></span> 
        </div>
        <div class="pp">
            <a href="#">Política de privacidad</a>
        </div>
        <div class="derechos">           
            <p>© 2025 Tip Top Taller</p>           
        </div>
    </footer>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0vJgQQNMi99iS3l2oUS7m8UOfLb8Lu_o&callback=initMap"
      defer
    ></script>
    <script src="./../js/formulario.js"></script>
    <script src="./../js/mapa.js"></script>
</body>
</html>